/*Import font normal*/
@font-face
{
	font-family: 'OpenSans';
	src: url('assets/OpenSans_Condensed-Regular.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
    
    font-family: 'OpenSans Bold';
	src: url('assets/OpenSans_Condensed-Bold.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
}


/*Styling for h1*/
h1
{
	color: white;
	text-align: center;
	font-family: 'OpenSans Bold';
}

/*font and colour for body*/
body
{
	background-color: #000;
	font-family: 'OpenSans';
}

*
{
	font-family: 'OpenSans';
	list-style: none;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number]
{
	-moz-appearance: textfield;
}

/*Layout for container*/

.container
{
	width:1920px;
	height:800px;
}

/*Layout for header*/
.budget-header .balance
{
	float: left;
	margin-top: 120px;
	margin-left: 20px;
}

.budget-header .balance .title
{
	color: #fff;
	font-size: 1.8rem;
	font-family: 'OpenSans Bold';
	display: inline-block;
    text-align: center
}

.budget-header .balance .value
{
	color: #fff;
	font-size: 3.6rem;
	margin-top: 10px;
	font-family: 'OpenSans Bold';
}

.budget-header .account
{
    float: right;
	display: inline-block;
	margin: 0 auto 0;
	line-height: 2.0rem;
	text-align: center;
}

.budget-header .account .income .title
{
	color: #95B524;
	opacity: 0.5;
    font-size: 2.0rem;
}

.budget-header .account .income .income-total
{
	color: #95B524;
	font-family: 'OpenSans Bold';
    font-size: 1.8rem;
}

.budget-header .account .outcome .title
{
	color: #f0624d;
	opacity: 0.5;
    font-size: 2.0rem;
}

.budget-header .account .outcome .outcome-total
{
	color: #f0624d;
	font-family: 'OpenSans Bold';
    font-size: 1.8rem;
}

/*Control panel layout*/
.control-panel
{
	max-height: 530px;
	display: inline-block;
	background-color: #cbcbcb;
}

.control-panel .dash-title
{
	display: inline-block;
	color: #1a0034;
	font-size: 2.2rem;
	margin-left: 20px;
	margin-top: 30px;
	font-family: 'OpenSans Bold';
}

/*Navigation bar*/

.toggle
{
	display: block;
	margin-top: 30px;
	margin-left: 20px;
}

.toggle .nav1, .nav2, .nav3
{
	display: inline-block;
	cursor: pointer;
	font-size: 1.3rem;
	color: #1a0034;
	font-family: 'OpenSans Bold';
	opacity: 0.4;
}

.toggle .nav2, .nav3
{
	margin-left: 10px;
}

.active
{
	opacity : 1 !important;
}

/*hide when not use*/
.hide
{
	display: none;
}

/*Selectable input*/
.control-panel input
{
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

/*All*/
.control-panel #all
{
	width: 360px;
	height: 339px;
	position: relative;
}

.control-panel #all ul
{
	width: 360px;
	height: 285px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top:20px;
	overflow-x: auto;
}

.control-panel #all ul.list li
{
	position: relative;
	font-size: 1rem;
}

.control-panel #all ul.list li *
{
	display: inline-block;
	height: 30px;
	vertical-align: middle;
}

.control-panel #all ul.list li .entry
{
	width:250px;
	height: auto;
	padding-left: 20px;
	margin-bottom: 10px;
	word-wrap: break-word;
	font-family: 'OpenSans Bold';
}

.control-panel #all ul.list li #edit
{
	visibility: hidden;
}

.control-panel #all ul.list li #delete
{
	position: absolute;
	width:20px;
	height: 20px;
	right: 20px;
	cursor: pointer;
	background-image: url('../images/trash.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.control-panel #all ul.list li.expense
{
	color: #f0624d;
}

/*Expenses*/
.control-panel #expense
{
	width: 360px;
	height: 339px;
	position: relative;
}

.control-panel #expense .input
{
	position: absolute;
	display: block;
	width: 360px;
	bottom: 0;
	border-top: 1px solid #ccc;
}

.control-panel #expense .input *
{
	display: inline-block;
	vertical-align: middle;
}

.control-panel #expense .input input#expense-title-input
{
	height: 40px;
	width : 145px;
	padding-left: 10px;
	font-size: 1.2rem;
	font-family: 'OpenSans';
	margin: 5px;
	margin-left: 10px;
	border: none;
}

.control-panel #expense .input input#expense-amount-input
{
	height: 40px;
	width : 115px;
	padding-left: 10px;
	font-size: 1.2rem;
	font-family: 'OpenSans';
	margin: 5px;
	margin-left: -10px;
	border: none;
}

.control-panel #expense .input .add-expense img
{
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.control-panel #expense ul
{
	width: 360px;
	height: 285px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top:20px;
	overflow-x: auto;
}

.control-panel #expense ul.list li
{
	position: relative;
	font-size: 1rem;
}

.control-panel #expense ul.list li *
{
	display: inline-block;
	height: 30px;
	vertical-align: middle;
}

.control-panel #expense ul.list li .entry
{
	width:250px;
	height: auto;
	padding-left: 20px;
	margin-bottom: 10px;
	;
	word-wrap: break-word;
	font-family: 'OpenSans Bold';
	color: #f0624d;
}

.control-panel #expense ul.list li #edit
{
	position: absolute;
	width:20px;
	height: 20px;
	right: 50px;
	cursor: pointer;
	background-image: url("../images/edit.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.control-panel #expense ul.list li #delete
{
	position: absolute;
	width:20px;
	height: 20px;
	right: 20px;
	cursor: pointer;
	background-image: url('../images/trash.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

/*Income*/

.control-panel #income
{
	width: 360px;
	height: 339px;
	position: relative;
}

.control-panel #income .input
{
	position: absolute;
	display: block;
	width: 360px;
	bottom: 0;
	border-top: 1px solid #ccc;
}

.control-panel #income .input *
{
	display: inline-block;
	vertical-align: middle;
}

.control-panel #income .input input#income-title-input
{
	height: 40px;
	width : 145px;
	padding-left: 10px;
	font-size: 1.2rem;
	font-family: 'OpenSans';
	margin: 5px;
	margin-left: 10px;
	border: none;
    
}

.control-panel #income .input input#income-amount-input
{
	height: 40px;
	width : 115px;
	padding-left: 10px;
	font-size: 1.2rem;
	font-family: 'OpenSans';
	margin: 5px;
	margin-left: -10px;
	border: none;
}

.control-panel #income .input .add-income img
{
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.control-panel #income ul
{
	width: 360px;
	height: 285px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top:20px;
	overflow-x: auto;
}

.control-panel #income ul.list li
{
	position: relative;
	font-size: 1rem;
}

.control-panel #income ul.list li *
{
	display: inline-block;
	height: 30px;
	vertical-align: middle;
}

.control-panel #income ul.list li .entry
{
	width:250px;
	height: auto;
	padding-left: 20px;
	margin-bottom: 10px;
	word-wrap: break-word;
	font-family: 'OpenSans Bold';
}

.control-panel #income ul.list li #edit
{
	position: absolute;
	width:20px;
	height: 20px;
	right: 50px;
	cursor: pointer;
	background-image: url("../images/edit.png");
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

.control-panel #income ul.list li #delete
{
	position: absolute;
	width:20px;
	height: 20px;
	right: 20px;
	cursor: pointer;
	background-image: url('../images/trash.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
}

/*Responsive*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
 
    .budget-header .balance .value {
    font-size: 1.6rem;
    
    }
    
	.control-panel, .container
	{
		width: 100%;
		height: 800px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{
	.control-panel, .container
	{
		width: 100%;
		height: 800px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{
	.control-panel, .container
	{
		width: 100%;
		height: 800px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
	.control-panel, .container
	{
		width: 100%;
		height: 800px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
	.control-panel, .container
	{
		width: 100%;
		height: 800px;
	}
}
